@import '../shared/variables';

.pagination-wrapper {
    display: block;
    margin: 0 auto;
    
    .paginator {
        margin-top: 20px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        user-select: none;

        .page-number {
            cursor: pointer;
            background: none;
            border: none;
            font-size: 16px;
            line-height: 20px;

            &.current {
                font-weight: 500;
            }

            &:disabled {
                opacity: 0.3;
                color: $grey;
                cursor: not-allowed;
            }
        }
    }
}